USE [master]
GO
/****** Object:  Database [Students1]    Script Date: 10.09.2020 18:14:37 ******/
CREATE DATABASE [Students1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Students1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Students1.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Students1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Students1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Students1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Students1]
GO
/****** Object:  Table [dbo].[Предметы]    Script Date: 10.09.2020 18:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Предметы](
	[Код предмета] [bigint] NOT NULL,
	[Наименование предмета] [varchar](50) NULL,
	[Описание предмета] [text] NULL,
 CONSTRAINT [PK_Предметы] PRIMARY KEY CLUSTERED 
(
	[Код предмета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Специальности]    Script Date: 10.09.2020 18:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Специальности](
	[Код специальности] [bigint] NOT NULL,
	[Наименование специальности] [varchar](50) NULL,
	[Описание специальности] [text] NULL,
 CONSTRAINT [PK_Специальности] PRIMARY KEY CLUSTERED 
(
	[Код специальности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
